.page {
  width: 100%;
  height: 100vh;
}

.page .ant-form {
  padding: 4rem;
  width: 100%;
  box-shadow: 1px 0px 20px #00000014;
}

.app .ant-input-prefix {
  font-size: 2rem;
  margin-right: 2rem;
}
.app .ant-form > * {
  margin-bottom: 2rem;
}

.app .ant-btn {
  border-color: var(--primary);
  background: var(--primary);
  color: var(--white);
  margin-right: 2rem;

}
.table{

 padding-left: 20%;

}

p.text-primary {
  color: inherit !important;
}