<%- include('header'); -%>
<!-- <a href="">
    <button type="submit" name="review_cmd" value="false" >Get Data</button>
</a> -->
<form action="/get" method="POST">
    <button type="submit" name="review_cmd" value="false" >Get Data</button>
</form>
<form action="/save" method="POST">
  <button type="submit" name="review_cmd" value="false" >Upload Data</button>
</form>

    <%- include('footer'); -%>
