<%- include('header'); -%>
<div class="container mt-5">
    <div class="card card-shadow mb-4">
            <div class="card-header">
                <div class="card-title">
                    Signin
                </div>
            </div>
            <div class="card-body">
                <form action="/auth" method="POST">
                    <div class="form-group row">
                        <label for="username" class="col-sm-3 col-form-label">Username</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
             
                    <div class="form-group row">
                        <div class="col-sm-6 offset-3">
                            <button type="submit" class="btn btn-info btn-block">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
</div>
<%- include('footer'); -%>